In [728]:
import pandas as pd

In [729]:
xls_file = pd.ExcelFile('data.xls')

table_data = xls_file.parse(0)
table_data

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [730]:
arr_data = table_data.values

arr_data

array([['Government', 'Canada', 'Carretera', ..., 1, 'January', 2014],
       ['Government', 'Germany', 'Carretera', ..., 1, 'January', 2014],
       ['Midmarket', 'France', 'Carretera', ..., 6, 'June', 2014],
       ...,
       ['Government', 'Mexico', 'Montana', ..., 2, 'February', 2014],
       ['Government', 'Canada', 'Paseo', ..., 4, 'April', 2014],
       ['Channel Partners', 'United States of America', 'VTT', ..., 5,
        'May', 2014]], dtype=object)

In [731]:
sales_position = 9
region_position = 1
product_position = 2
year_position = 15

In [732]:
def operation_years():
    obj_years = (i[year_position] for i in arr_data)
    return set(obj_years)


print(f"{operation_years()=}")

operation_years()={2013, 2014}

In [733]:
def all_reagions():
    obj_region = (i[region_position] for i in arr_data)
    return set(obj_region)


print(f"{all_reagions()=}")

all_reagions()={'France', 'Germany', 'Mexico', 'United States of America', 'Canada'}

In [734]:
def all_products():
    obj_product = (i[product_position] for i in arr_data)
    return set(obj_product)


print(f"{all_products()=}")

all_products()={'VTT', 'Amarilla', 'Paseo', 'Velo', 'Montana', 'Carretera'}

In [735]:
def total_of_sales():
    obj_sales = (i[sales_position] for i in arr_data)
    return sum(obj_sales)


print(f"{total_of_sales()=}")

total_of_sales()=118726350.25999992

In [736]:
def total_of_sales_by_year():
    obj_years = (i[year_position] for i in arr_data)
    obj_sales = (i[sales_position] for i in arr_data)
    return dict(zip(obj_years, obj_sales))

print(f"{total_of_sales_by_year()=}")

total_of_sales_by_year()={2014: 18421.2, 2013: 313862.5}

In [737]:
def total_of_sales_by_region():
    obj_sales = (i[sales_position] for i in arr_data)
    obj_region = (i[region_position] for i in arr_data)
    return dict(zip(obj_region, obj_sales))


print(f"{total_of_sales_by_region()=}")

total_of_sales_by_region()={'Canada': 4301.85, 'Germany': 58650.0, 'France': 631125.0, 'Mexico': 8139.6, 'United States of America': 18421.2}

In [738]:
def total_of_sales_by_product():
    obj_sales = (i[sales_position] for i in arr_data)
    obj_product = (i[product_position] for i in arr_data)
    return dict(zip(obj_product, obj_sales))


print(f"{total_of_sales_by_product()=}")

total_of_sales_by_product()={'Carretera': 115281.25, 'Montana': 8139.6, 'Paseo': 4301.85, 'Velo': 9322.8, 'VTT': 18421.2, 'Amarilla': 139230.0}

In [739]:
def total_of_sales_by_region_and_product(region):
    obj_sales = (i[sales_position]
                 for i in arr_data if i[region_position] == region)
    obj_product = (i[product_position]
                   for i in arr_data if i[region_position] == region)
    return dict(zip(obj_product, obj_sales))


for region in all_reagions():
    print(f"{region=}")
    print(f"{total_of_sales_by_region_and_product(region)=}\n\n")

region='France'
total_of_sales_by_region_and_product(region)={'Carretera': 124737.5, 'Montana': 1763.8600000000001, 'Paseo': 4981.0, 'Velo': 70443.75, 'VTT': 4981.0, 'Amarilla': 631125.0}


region='Germany'
total_of_sales_by_region_and_product(region)={'Carretera': 115281.25, 'Montana': 360899.0, 'Paseo': 14981.25, 'Velo': 654288.0, 'VTT': 58650.0, 'Amarilla': 18478.8}


region='Mexico'
total_of_sales_by_region_and_product(region)={'Carretera': 303257.5, 'Montana': 8139.6, 'Paseo': 639922.5, 'Velo': 5100.0, 'VTT': 17476.06, 'Amarilla': 139230.0}


region='United States of America'
total_of_sales_by_region_and_product(region)={'Montana': 18035.92, 'Paseo': 9322.8, 'Velo': 9322.8, 'Amarilla': 30072.48, 'Carretera': 260580.0, 'VTT': 18421.2}


region='Canada'
total_of_sales_by_region_and_product(region)={'Carretera': 29670.0, 'Montana': 29670.0, 'Paseo': 4301.85, 'Velo': 69402.0, 'VTT': 313862.5, 'Amarilla': 22484.7}

In [740]:
def total_of_sales_by_region_and_year(region):
    obj_sales = (i[sales_position]
                 for i in arr_data if i[region_position] == region)
    obj_years = (i[year_position]
                 for i in arr_data if i[region_position] == region)
    return dict(zip(obj_years, obj_sales))

for region in all_reagions():
    print(f"{region=}")
    print(f"{total_of_sales_by_region_and_year(region)=}\n\n")

region='France'
total_of_sales_by_region_and_year(region)={2014: 631125.0, 2013: 385581.0}


region='Germany'
total_of_sales_by_region_and_year(region)={2014: 58650.0, 2013: 654288.0}


region='Mexico'
total_of_sales_by_region_and_year(region)={2014: 8139.6, 2013: 639922.5}


region='United States of America'
total_of_sales_by_region_and_year(region)={2014: 18421.2, 2013: 4539.0}


region='Canada'
total_of_sales_by_region_and_year(region)={2014: 4301.85, 2013: 313862.5}

In [741]:
def total_of_sales_by_year_and_region(year):
    obj_sales = (i[sales_position] for i in arr_data if i[year_position] == year)
    obj_region = (i[region_position] for i in arr_data if i[year_position] == year)
    return dict(zip(obj_region, obj_sales))

for year in operation_years():
    print(f"{year=}")
    print(f"{total_of_sales_by_year_and_region(year)=}\n\n")

year=2013
total_of_sales_by_year_and_region(year)={'Canada': 313862.5, 'France': 385581.0, 'Mexico': 639922.5, 'United States of America': 4539.0, 'Germany': 654288.0}


year=2014
total_of_sales_by_year_and_region(year)={'Canada': 4301.85, 'Germany': 58650.0, 'France': 631125.0, 'Mexico': 8139.6, 'United States of America': 18421.2}

In [742]:
def total_of_sales_by_year_and_product(year):
    obj_sales = (i[sales_position] for i in arr_data if i[year_position] == year)
    obj_product = (i[product_position] for i in arr_data if i[year_position] == year)
    return dict(zip(obj_product, obj_sales))

for year in operation_years():
    print(f"{year=}")
    print(f"{total_of_sales_by_year_and_product(year)=}\n\n")

year=2013
total_of_sales_by_year_and_product(year)={'Montana': 10396.54, 'Paseo': 639922.5, 'Velo': 259037.5, 'VTT': 313862.5, 'Carretera': 303257.5, 'Amarilla': 24123.0}


year=2014
total_of_sales_by_year_and_product(year)={'Carretera': 115281.25, 'Montana': 8139.6, 'Paseo': 4301.85, 'Velo': 9322.8, 'VTT': 18421.2, 'Amarilla': 139230.0}

In [743]:
def total_of_sales_by_region_and_product_by_year(region, year):
    obj_sales = (i[sales_position] for i in arr_data if i[region_position]
                 == region and i[year_position] == year)
    obj_product = (i[product_position] for i in arr_data if i[region_position]
                   == region and i[year_position] == year)
    return dict(zip(obj_product, obj_sales))


for region in all_reagions():
    for year in operation_years():
        print(f"{region=}")
        print(f"{year=}")
        print(f"{total_of_sales_by_region_and_product_by_year(region, year)=}\n\n")

region='France'
year=2013
total_of_sales_by_region_and_product_by_year(region, year)={'Paseo': 578522.0, 'VTT': 385581.0, 'Amarilla': 3341.52, 'Carretera': 109972.5, 'Velo': 49929.0, 'Montana': 313104.0}


region='France'
year=2014
total_of_sales_by_region_and_product_by_year(region, year)={'Carretera': 124737.5, 'Montana': 1763.8600000000001, 'Velo': 70443.75, 'VTT': 4981.0, 'Amarilla': 631125.0, 'Paseo': 4981.0}


region='Germany'
year=2013
total_of_sales_by_region_and_product_by_year(region, year)={'Carretera': 7690.8, 'Paseo': 53257.6, 'Velo': 654288.0, 'VTT': 589050.0, 'Amarilla': 18478.8, 'Montana': 53257.6}


region='Germany'
year=2014
total_of_sales_by_region_and_product_by_year(region, year)={'Carretera': 115281.25, 'Montana': 360899.0, 'Paseo': 14981.25, 'Velo': 10575.72, 'VTT': 58650.0, 'Amarilla': 352106.25}


region='Mexico'
year=2013
total_of_sales_by_region_and_product_by_year(region, year)={'Paseo': 639922.5, 'Carretera': 303257.5, 'VTT': 10733.4, 'Montana': 10396.54, 'Velo': 679905.0, 'Amarilla': 24123.0}


region='Mexico'
year=2014
total_of_sales_by_region_and_product_by_year(region, year)={'Carretera': 206658.0, 'Montana': 8139.6, 'Paseo': 848172.5, 'Velo': 5100.0, 'VTT': 17476.06, 'Amarilla': 139230.0}


region='United States of America'
year=2013
total_of_sales_by_region_and_product_by_year(region, year)={'Paseo': 597082.5, 'Carretera': 18035.92, 'Montana': 18035.92, 'Velo': 259037.5, 'Amarilla': 20794.8, 'VTT': 4539.0}


region='United States of America'
year=2014
total_of_sales_by_region_and_product_by_year(region, year)={'Montana': 7904.82, 'Paseo': 9322.8, 'Velo': 9322.8, 'Amarilla': 30072.48, 'Carretera': 260580.0, 'VTT': 18421.2}


region='Canada'
year=2013
total_of_sales_by_region_and_product_by_year(region, year)={'Montana': 10262.07, 'Paseo': 22931.04, 'Velo': 69402.0, 'Carretera': 265760.0, 'Amarilla': 22484.7, 'VTT': 313862.5}


region='Canada'
year=2014
total_of_sales_by_region_and_product_by_year(region, year)={'Carretera': 29670.0, 'Montana': 29670.0, 'Paseo': 4301.85, 'VTT': 14713.5, 'Velo': 801444.0, 'Amarilla': 229104.0}

In [744]:
def best_region_in_sales():
    return max(total_of_sales_by_region(), key=total_of_sales_by_region().get)

print(f"{best_region_in_sales()=}")

best_region_in_sales()='France'

In [745]:
def best_product_in_sales():
    return max(total_of_sales_by_product(), key=total_of_sales_by_product().get)

print(f"{best_product_in_sales()=}")

best_product_in_sales()='Amarilla'

In [746]:
def best_year_in_sales():
    return max(total_of_sales_by_year(), key=total_of_sales_by_year().get)

print(f"{best_year_in_sales()=}")

best_year_in_sales()=2013

In [747]:
def best_product_in_sales_by_region(region):
    return max(total_of_sales_by_region_and_product(region),
               key=total_of_sales_by_region_and_product(region).get)

for region in all_reagions():
    print(f"{region=}")
    print(f"{best_product_in_sales_by_region(region)=}\n\n")

region='France'
best_product_in_sales_by_region(region)='Amarilla'


region='Germany'
best_product_in_sales_by_region(region)='Velo'


region='Mexico'
best_product_in_sales_by_region(region)='Paseo'


region='United States of America'
best_product_in_sales_by_region(region)='Carretera'


region='Canada'
best_product_in_sales_by_region(region)='VTT'

In [748]:
def best_year_in_sales_by_region(region):
    return max(total_of_sales_by_region_and_year(region),
               key=total_of_sales_by_region_and_year(region).get)

for region in all_reagions():
    print(f"{region=}")
    print(f"{best_year_in_sales_by_region(region)=}\n\n")

region='France'
best_year_in_sales_by_region(region)=2014


region='Germany'
best_year_in_sales_by_region(region)=2013


region='Mexico'
best_year_in_sales_by_region(region)=2013


region='United States of America'
best_year_in_sales_by_region(region)=2014


region='Canada'
best_year_in_sales_by_region(region)=2013

In [749]:
def best_region_by_year(year):
    return max(total_of_sales_by_year_and_region(year),
               key=total_of_sales_by_year_and_region(year).get)

for year in operation_years():
    print(f"{year=}")
    print(f"{best_region_by_year(year)=}\n\n")

year=2013
best_region_by_year(year)='Germany'


year=2014
best_region_by_year(year)='France'

In [750]:
def best_product_by_year(year):
    return max(total_of_sales_by_year_and_product(year),
               key=total_of_sales_by_year_and_product(year).get)

for year in operation_years():
    print(f"{year=}")
    print(f"{best_product_by_year(year)=}\n\n")

year=2013
best_product_by_year(year)='Paseo'


year=2014
best_product_by_year(year)='Amarilla'

In [751]:
def best_product_by_region_and_year(region, year):
    return max(total_of_sales_by_region_and_product_by_year(region, year),
               key=total_of_sales_by_region_and_product_by_year(region, year).get)

for region in all_reagions():
    for year in operation_years():
        print(f"{region=}")
        print(f"{year=}")
        print(f"{best_product_by_region_and_year(region, year)=}\n\n")

region='France'
year=2013
best_product_by_region_and_year(region, year)='Paseo'


region='France'
year=2014
best_product_by_region_and_year(region, year)='Amarilla'


region='Germany'
year=2013
best_product_by_region_and_year(region, year)='Velo'


region='Germany'
year=2014
best_product_by_region_and_year(region, year)='Montana'


region='Mexico'
year=2013
best_product_by_region_and_year(region, year)='Velo'


region='Mexico'
year=2014
best_product_by_region_and_year(region, year)='Paseo'


region='United States of America'
year=2013
best_product_by_region_and_year(region, year)='Paseo'


region='United States of America'
year=2014
best_product_by_region_and_year(region, year)='Carretera'


region='Canada'
year=2013
best_product_by_region_and_year(region, year)='VTT'


region='Canada'
year=2014
best_product_by_region_and_year(region, year)='Velo'